<head>
    <link rel="stylesheet" href="/stylesheets/auth/login.css">
</head>

<form id="authForm" action="">
    <h2 class="textDark welcome row">Welcome back</h2>
    <div class="row">
        <h3 class="textDark" style="font-weight: bold;font-size: 16px;">Email</h3>
        <input class="customAutoInput bgDark2 navDark" type="text" name="username" id="username" placeholder="Email or ID">
    </div>
    <div class="row" style="margin-top: 50px;">
        <h3 class="textDark" style="font-weight: bold;font-size: 16px;">Password</h3>
        <input class="customAutoInput bgDark2 navDark" type="password" name="password" id="password" placeholder="Enter your password">
        <a class="textDark note">Forgot password?</a>
    </div>
    <div class="row" style="padding: 74px 0;">
        <button class="textDark bgDark2 row">Login</button>
        <a href="./signup" class="textDark note" style="text-align: center;">New to GENX?</a>
    </div>
</form>