<head>
  <link rel="stylesheet" href="/stylesheets/plugins/navbar.css" />
  <script defer src="/scripts/plugins/navbar.js"></script>
</head>
<header id="nav">
  <a href="/"><img src="/media/icons/Genx Logo.png" alt="" /></a>

  <div class="respo">
    <form
      action="/search/"
      method="get"
      id="search"
      class="textDark bgDark2 hover"
    >
      <input
        class="customAutoInput"
        name="for"
        type="text"
        placeholder="Search"
      />
      <button class="">
        <img src="/media/icons/Search icon 17.49x17.49.svg" alt="" />
      </button>
    </form>
    <div class="ico-to-side">
      <section></section>
      <section></section>
      <section></section>
    </div>
    <ul>
      <li class="navDark navItem">
        <a class="navDark navItem" href="/n/all">News</a>
      </li>
      <li class="navDark navItem">
        <a class="navDark navItem" href="/c/all">Courses</a>
      </li>
      <li class="navDark navItem">
        <a class="navDark navItem" href="/b/all">Books</a>
      </li>
      <li class="navDark navItem">
        <a class="navDark navItem" href="/lab">Lab</a>
      </li>
      <li class="navDark navItem">
        <a class="navDark navItem about" href="#about">About us</a>
      </li>
    </ul>
  </div>
  <img
    class="bgDark1 light func menuDrop im-respo"
    style="border-radius: 50%; grid-column: 4/-1; grid-row: 1/2; cursor: pointer;"
    src="/media/icons/Profile icon 50x50.svg"
    alt=""
  />
  <div
    id="hiddenMenu"
    style="
      display: none;
      grid-column: 4/-1;
      grid-row: 2/-1;
      width: 170px;
      border-radius: 12px;
      z-index: 10000;
      position: absolute;
      right: 0px;
      top: 93px;
      overflow: hidden;
    "
    class="bgDark2"
  >
    <button><a class="textDark" href="">Edit Profile</a></button>
    <button><a class="textDark" href="/settings">settings</a></button>
    <button style="border: none">
      <a class="textDark" href="">logout</a>
    </button>
  </div>
</header>
