<head>
  <link rel="stylesheet" href="/stylesheets/courses/add-course.css" />
  <title>Add Course-GENX</title>
</head>
<div class="page">
  <h1>add courses</h1>
  <div class="container">
    <aside class="main-side-bar">
      <div class="ico-to-side">
        <section></section>
        <section></section>
        <section></section>
      </div>
      <ul>
        <li>
          <a href="/a/analysis" target="_blank" class="analysis">analysis</a>
        </li>
        <li>
          <a href="/n/v/new/modify" target="_blank" class="add_news"
            >add news</a
          >
        </li>
        <li>
          <a href="/c/v/new/modify" class="add_courses">add courses</a>
        </li>
        <li>
          <a href="/b/v/new/modify" target="_blank" class="add_books"
            >add books</a
          >
        </li>
        <li>
          <a href="/a/users" target="_blank" class="users">users</a>
        </li>
        <li>
          <a href="/a/orders" target="_blank" class="order">order</a>
        </li>
        <li>
          <a href="/a/log" target="_blank" class="logs">logs</a>
        </li>
        <li>
          <a href="/a/reports" target="_blank" class="report">reports</a>
        </li>
      </ul>
    </aside>
    <div class="content">
      <form action="">
        <div class="left">
          <section>
            <label for="title">title</label>
            <input type="text" name="" id="title" title="Input Course Title" />
          </section>
          <section>
            <label for="discription">discription</label>
            <input
              type="text"
              name=""
              id="discription"
              title="Input Course Discription"
            />
          </section>
          <section>
            <label for="Author">Author</label>
            <input
              type="text"
              name=""
              id="Author"
              title="Input Course Author"
            />
          </section>
          <section class="price">
            <div>
              <section>
                <label for="price">price</label>
                <input
                  type="text"
                  name=""
                  id="price"
                  title="Input Course price"
                />
              </section>
              <button>select thumbnail</button>
            </div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </section>
        </div>

        <div class="right">
          <section>
            <button title="drop file here">
              <img src="/media/icons/Icon awesome-plus.svg" alt="" />
              <p>drop file here</p>
              <input type="file" name="" id="" />
            </button>
          </section>
          <div class="down">
            <section>
              <label for="name">name</label>
              <input type="text" name="" id="name" title="Input Course Name" />
            </section>
          </div>
          <div class="chosen-book">
            <div>
              <div class="book"></div>
              <p>book 1</p>
            </div>
            <div>
              <div class="book"></div>
              <p>book 2</p>
            </div>
            <div>
              <div class="book"></div>
              <p>book 3</p>
            </div>
            <div>
              <div class="book"></div>
              <p>book 4</p>
            </div>
            <div>
              <div class="book"></div>
              <p>book 5</p>
            </div>
          </div>
        </div>
        <button>
          <img
            src="/media/icons/Component50–3.svg"
            alt="publish"
            title="Publish"
          />
        </button>
      </form>
    </div>
  </div>
</div>
