<head>
  <link rel="stylesheet" href="/stylesheets/admin/admin.css" />
 <title>Admin Panal-GENX</title>
</head>
<div class="page">
  <h1>analisys</h1>
  <div class="container">
    <aside class="main-side-bar">
      <div class="ico-to-side">
        <section></section>
        <section></section>
        <section></section>
      </div>
      <ul>
        <li>
          <a href="/a/analysis" class="analysis"
            >analysis</a
          >
        </li>
        <li>
          <a href="/n/v/new/modify" target="_blank" class="add_news"
            >add news</a
          >
        </li>
        <li>
          <a
            href="/c/v/new/modify"
            target="_blank"
            class="add_courses"
            >add courses</a
          >
        </li>
        <li>
          <a href="/b/v/new/modify" target="_blank" class="add_books"
            >add books</a
          >
        </li>
        <li>
          <a href="/a/users" target="_blank" class="users">users</a>
        </li>
        <li>
          <a href="/a/orders" target="_blank" class="order">order</a>
        </li>
        <li>
          <a href="/a/log" target="_blank" class="logs">logs</a>
        </li>
        <li>
          <a href="/a/reports" target="_blank" class="report"
            >reports</a
          >
        </li>
      </ul>
    </aside>
    <div class="content">
      <div class="up">
        <div class="showing">
          <p>16,556
          </p>
          <img src="/media/icons/Icon feather-eye.svg" alt="" />
        </div>
        <div class="income-icon">
          <p>4,600$</p>
          <img src="/media/icons/Icon feather-shopping-cart.svg" alt="" />
        </div>
        <div class="stat">
          <p>5,145</p>
          <img src="/media/icons/Icon ionic-ios-stats.svg" alt="" />
        </div>
        <div class="shoping">
          <p>5.559</p>
          <img src="/media/icons/Icon feather-shopping-cart.svg" alt="" />
        </div>
      </div>
      <div class="down">
        <div class="stat-type">
          <button>monthly</button>
        </div>
        <div class="chart">
          <img
            title="Income"
            src="/media/icons/Icon_awesome-chart-pie1.svg"
            alt=""
          />
          <img
            title="Views"
            src="/media/icons/Icon_awesome-chart-pie2.svg"
            alt=""
          />
          <img
            title="Report"
            src="/media/icons/Icon_awesome-chart-pie.svg"
            alt=""
          />
        </div>
        <p class="income">income</p>
        <p class="views">views</p>
        <p class="report">report</p>
      </div>
    </div>
  </div>
</div>
