<aside class="main-side-bar">
    <div id="aside" class="ico-to-side">
      <section></section>
      <section></section>
      <section></section>
    </div>
    <ul class="mySpecialUl" id="navaside">
      <li>
        <a href="/a/analysis" class="analysis"
          >analysis</a
        >
      </li>
      <li>
        <a href="/n/v/new/modify" target="_blank" class="add_news"
          >add news</a
        >
      </li>
      <li>
        <a
          href="/c/v/new/modify"
          target="_blank"
          class="add_courses"
          >add courses</a
        >
      </li>
      <li>
        <a href="/b/v/new/modify" class="add_books"
          >add books</a
        >
      </li>
      <li>
        <a href="/a/users" class="users">users</a>
      </li>
      <li>
        <a href="/a/orders" class="order">order</a>
      </li>
      <li>
        <a href="/a/log" class="logs">logs</a>
      </li>
      <li>
        <a href="/a/reports" class="report"
          >reports</a
        >
      </li>
    </ul>
</aside>