<head>
  <link rel="stylesheet" href="/stylesheets/admin/logs.css" />
  <title>Logs-GENX</title>
</head>
<nav>
  <div class="container">
    <h1>logs</h1>
    <form action="">
      <input type="search" placeholder="search" />
      <input type="submit" value="" />
    </form>
    <button>
      <img
        src="/media/icons/ic_filter_list_24px.svg"
        alt="Filter"
        title="click here to filter courses"
      />
    </button>
  </div>
</nav>
<div class="page">
  <div class="container">
    <%- include('./asideMenu.ejs') %>
    <div class="responsive">
      <div class="log-menu">
        <ul>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:12335</a></li>
          <li><a href="#">logs:23135</a></li>
          <li><a href="#">logs:32135</a></li>
          <li><a href="#">logs:31322</a></li>
          <li><a href="#">logs:32132</a></li>
          <li><a href="#">logs:54988</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:65578</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:65514</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:75588</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:17745</a></li>
          <li><a href="#">logs:536465</a></li>
          <li><a href="#">logs:17745</a></li>
        </ul>
      </div>
      <div class="content">
        <h2>logs: 17745</h2>
        <form action="">
          <div class="action">
            <label for="action">action</label>
            <input type="text" name="" id="action" />
          </div>
          <div class="date">
            <label for="date">date</label>
            <input type="text" name="" id="date" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
