<head>
  <link rel="stylesheet" href="/stylesheets/admin/order.css" />
  <title>Order-GENX</title>
</head>
<nav>
  <div class="container">
    <h1>orders</h1>
    <form action="">
      <input type="search" placeholder="search" />
      <input type="submit" value="" />
    </form>
    <button>
      <img
        src="/media/icons/ic_filter_list_24px.svg"
        alt="Filter"
        title="click here to filter courses"
      />
    </button>
  </div>
</nav>
<div class="page">
  <div class="container">
    <%- include('./asideMenu.ejs') %>
    <div class="responsive">
      <div class="log-menu">
        <ul>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:12335</a></li>
          <li><a href="#">order:23135</a></li>
          <li><a href="#">order:32135</a></li>
          <li><a href="#">order:31322</a></li>
          <li><a href="#">order:32132</a></li>
          <li><a href="#">order:54988</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:65578</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:65514</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:75588</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:17745</a></li>
          <li><a href="#">order:536465</a></li>
          <li><a href="#">order:17745</a></li>
        </ul>
      </div>
      <div class="content">
        <h2>order: 17745</h2>
        <form action="">
          <div class="order-data">
            <div class="name">
              <img src="/media/icons/Symbols.svg" alt="" />
              <h3>name</h3>
            </div>
            <div class="order-option">
              <button class="delete">
                <img src="/media/icons/Icon material-delete.svg" alt="delete" />
              </button>
              <button class="print">
                <img src="/media/icons/Icon metro-printer.svg" alt="printer" />
              </button>
            </div>
          </div>
          <div class="main-data">
            <input
              type="text"
              name=""
              id=""
              value="*********@gmail.com"
              readonly
            />
            <input type="text" name="" id="" value="order-name" readonly />
            <div class="pay-method">
              <input type="text" name="" id="" value="$30.00" readonly />
              <input type="text" name="" id="" value="method" readonly />
            </div>
            <input type="text" name="" id="" value="recovery ID" readonly />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
