<head>
                  <link rel="stylesheet" href="/stylesheets/admin/rebort.css">
                  <title>Rebort-GENX</title>
</head>
<nav>
  <div class="container">
    <h1>rebort</h1>
    <form action="">
      <input type="search" placeholder="search" />
      <input type="submit" value="" />
    </form>
    <button>
      <img
        src="/media/icons/ic_filter_list_24px.svg"
        alt="Filter"
        title="click here to filter courses"
      />
    </button>
  </div>
</nav>
<div class="page">
  <div class="container">
    <aside class="main-side-bar">
      <div class="ico-to-side">
        <section></section>
        <section></section>
        <section></section>
      </div>
       <ul>
        <li>
          <a href="/a/analysis" target="_blank" class="analysis"
            >analysis</a
          >
        </li>
        <li>
          <a href="/n/v/new/modify" target="_blank" class="add_news"
            >add news</a
          >
        </li>
        <li>
          <a
            href="/c/v/new/modify"
            target="_blank"
            class="add_courses"
            >add courses</a
          >
        </li>
        <li>
          <a href="/b/v/new/modify" target="_blank" class="add_books"
            >add books</a
          >
        </li>
        <li>
          <a href="/a/users" target="_blank" class="users">users</a>
        </li>
        <li>
          <a href="/a/orders" target="_blank" class="order">order</a>
        </li>
        <li>
          <a href="/a/log" target="_blank" class="logs">logs</a>
        </li>
        <li>
          <a href="/a/reports" class="report"
            >reports</a
          >
        </li>
      </ul>
    </aside>
    <div class="responsive">
      <div class="log-menu">
        <ul>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:12335</a></li>
          <li><a href="#">rebort:23135</a></li>
          <li><a href="#">rebort:32135</a></li>
          <li><a href="#">rebort:31322</a></li>
          <li><a href="#">rebort:32132</a></li>
          <li><a href="#">rebort:54988</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:65578</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:65514</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:75588</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:536465</a></li>
          <li><a href="#">rebort:17745</a></li>
        </ul>
      </div>
      <div class="content">
        <h2>rebort: 17745</h2>

        <form action="">
          <div class="order-data">
            <div class="main-data">
              <div>
                <label for="tittle">tittle</label>
                <input type="text" name="" id="tittle" />
              </div>
              <div>
                <label for="from">from</label>
                <input type="text" name="" id="from" />
              </div>
              <div>
                <label for="date">date</label>
                <input type="text" name="" id="date0" />
              </div>
            </div>
            <div class="order-option">
              <button class="delete">
                <img src="/media/icons/Icon material-delete.svg" alt="delete" />
              </button>
              <button class="print">
                <img src="/media/icons/Icon metro-printer.svg" alt="printer" />
              </button>
              <button class="reply">
                <img src="/media/icons/Icon material-reply.svg" alt="" />
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
