<head>
                  <link rel="stylesheet" href="/stylesheets/admin/rebort.css">
                  <title>Rebort-GENX</title>
</head>
<nav>
  <div class="container">
    <h1>rebort</h1>
    <form action="">
      <input type="search" placeholder="search" />
      <input type="submit" value="" />
    </form>
    <button>
      <img
        src="/media/icons/ic_filter_list_24px.svg"
        alt="Filter"
        title="click here to filter courses"
      />
    </button>
  </div>
</nav>
<div class="page">
  <div class="container">
    <%- include('./asideMenu.ejs') %>
    <div class="responsive">
      <div class="log-menu">
        <ul>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:12335</a></li>
          <li><a href="#">rebort:23135</a></li>
          <li><a href="#">rebort:32135</a></li>
          <li><a href="#">rebort:31322</a></li>
          <li><a href="#">rebort:32132</a></li>
          <li><a href="#">rebort:54988</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:65578</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:65514</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:75588</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:17745</a></li>
          <li><a href="#">rebort:536465</a></li>
          <li><a href="#">rebort:17745</a></li>
        </ul>
      </div>
      <div class="content">
        <h2>rebort: 17745</h2>

        <form action="">
          <div class="order-data">
            <div class="main-data">
              <div>
                <label for="tittle">tittle</label>
                <input type="text" name="" id="tittle" />
              </div>
              <div>
                <label for="from">from</label>
                <input type="text" name="" id="from" />
              </div>
              <div>
                <label for="date">date</label>
                <input type="text" name="" id="date0" />
              </div>
            </div>
            <div class="order-option">
              <button class="delete">
                <img src="/media/icons/Icon material-delete.svg" alt="delete" />
              </button>
              <button class="print">
                <img src="/media/icons/Icon metro-printer.svg" alt="printer" />
              </button>
              <button class="reply">
                <img src="/media/icons/Icon material-reply.svg" alt="" />
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
