<head>
  <link rel="stylesheet" href="/stylesheets/admin/users.css" />
  <title>Users-GENX</title>
</head>
<nav>
  <div class="container">
    <h1>users</h1>
    <form action="">
      <input type="search" placeholder="search" />
      <input type="submit" value="" />
    </form>
    <button>
      <img
        src="/media/icons/ic_filter_list_24px.svg"
        alt="Filter"
        title="click here to filter courses"
      />
    </button>
  </div>
</nav>
<div class="page">
  <div class="container">
    <aside class="main-side-bar">
      <div class="ico-to-side">
        <section></section>
        <section></section>
        <section></section>
      </div>
      <ul>
        <li>
          <a href="/a/analysis" target="_blank" class="analysis"
            >analysis</a
          >
        </li>
        <li>
          <a href="/n/v/new/modify" target="_blank" class="add_news"
            >add news</a
          >
        </li>
        <li>
          <a
            href="/c/v/new/modify"
            target="_blank"
            class="add_courses"
            >add courses</a
          >
        </li>
        <li>
          <a href="/b/v/new/modify" target="_blank" class="add_books"
            >add books</a
          >
        </li>
        <li>
          <a href="/a/users" class="users">users</a>
        </li>
        <li>
          <a href="/a/orders" target="_blank" class="order">order</a>
        </li>
        <li>
          <a href="/a/log" target="_blank" class="logs">logs</a>
        </li>
        <li>
          <a href="/a/reports" target="_blank" class="report"
            >reports</a
          >
        </li>
      </ul>
    </aside>
    <div class="content">
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
      <div class="user">
        <h2>Ex1@gmail.com</h2>
        <div class="option">
          <button class="double-up" title="Double Up">
            <img src="/media/icons/Icon awesome-angle-double-up.svg" alt="" />
          </button>
          <button title="Ban" class="ban">
            <img src="/media/icons/Icon awesome-ban.svg" alt="" />
          </button>
          <button class="message-square" title="Message">
            <img src="/media/icons/Icon feather-message-square.svg" alt="" />
          </button>
          <button class="remove" title="Remove">
            <img
              src="/media/icons/Icon material-remove-circle-outline.svg"
              alt="remove"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
