<head>
    <link rel="stylesheet" href="/stylesheets/auth/login.css">
</head>

<form id="authForm" action="/o/recovery" method="post">
    <h2 class="textDark welcome row">Forgot your email?</h2>
    <div class="row">
        <h3 class="textDark" style="font-weight: bold;font-size: 16px;">Enter your Email:</h3>
        <input class="customAutoInput bgDark2 navDark" type="text" name="email" id="username" placeholder="Enter your gmail">
    </div>
    <div class="row" style="padding: 74px 0;">
        <button class="textDark bgDark2 row">submit</button>
        <a href="./signup" class="textDark note" style="text-align: center;">Create new account?</a>
    </div>
</form>