<head>
  <link rel="stylesheet" href="/stylesheets/user/mail_box.css" />
  <title>Mailbox-GENX</title>
</head>
<div class="content">
  <div class="side-bar">
    <div class="ico-to-side">
      <section></section>
      <section></section>
      <section></section>
    </div>
    <ul>
      <li><a href="">profile</a></li>
      <li><a href="" class="mailbox">mailbox</a></li>
      <li><a href="">my courses</a></li>
      <li><a href="">my books</a></li>
      <li><a href="">logout</a></li>
    </ul>
  </div>
  <div class="container">
    <nav>
      <h1>mail box</h1>
      <form action="">
        <input type="search" placeholder="search" />
        <input type="submit" value="" />
      </form>
      <button>
        <img
          src="/media/icons/ic_filter_list_24px.svg"
          alt="Filter"
          title="click here to filter courses"
        />
      </button>
    </nav>
    <div class="box-content">
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
      <div class="news-box">
        <div class="description">
          <h2>headline</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium ipsum odio maiores molestiae tempore sint inventore
            cupiditate modi, est quas amet magni, accusamus nulla pariatur
            laboriosam impedit iusto illo et? lo
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
