<head>
    <link rel="stylesheet" href="/stylesheets/books/all.css">
</head>
<nav>
    <div class="container">
      <h1>Books</h1>
      <form action="">
        <input type="search" placeholder="search" />
        <input type="submit" value="" />
      </form>
      <button>
        <img
          src="/media/icons/Filter icon 24.78x16.52.svg"
          alt="Filter"
          title="click here to filter courses"
        />
      </button>
    </div>
  </nav>
  <div class="content">
    <div class="container">
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
      <a href="/b/bookname">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>Books name</h2>
        <p title="">Books discription </p>
      </a>
     
    </div>
  </div>