<head>
    <link rel="stylesheet" href="/stylesheets/news/all.css">
      <title>News-GENX</title>
</head>
<nav>
    <div class="container">
      <h1>News</h1>
      <button>
        <img src="/media/icons/Filter icon 24.78x16.52.svg" alt="Filter" title="click here to filter courses" />
      </button>
    </div>
  </nav>
  <div class="content">
    <div class="container">
      <div class="news-box">
        <div class="images">
          <img src="" alt="" />
        </div>
        <div class="description">
          <h2>headline </h2>
          <p>news discription </p>
        </div>
      </div>
      <div class="news-box">
        <div class="images">
          <img src="" alt="" />
        </div>
        <div class="description">
          <h2>headline</h2>
          <p>news discription</p>
        </div>
      </div>
      <div class="news-box">
        <div class="images">
          <img src="" alt="" />
        </div>
        <div class="description">
          <h2>headline</h2>
          <p>news discription</p>
        </div>
      </div>
      <div class="news-box">
        <div class="images">
          <img src="" alt="" />
        </div>
        <div class="description">
          <h2>headline</h2>
          <p>news discription</p>
        </div>
      </div>
      <div class="news-box">
        <div class="images">
          <img src="" alt="" />
        </div>
        <div class="description">
          <h2>headline</h2>
          <p>news discription</p>
        </div>
      </div>
      <div class="news-box">
        <div class="images">
          <img src="" alt="" />
        </div>
        <div class="description">
          <h2>headline</h2>
          <p>news discription</p>
        </div>
      </div>
      <div class="news-box">
        <div class="images">
          <img src="" alt="" />
        </div>
        <div class="description">
          <h2>headline</h2>
          <p>news discription</p>
        </div>
      </div>
    </div>