<head>
  <link rel="stylesheet" href="/stylesheets/news/add-news.css" />
  <title>Add News - GENX</title>
</head>
<nav>
  <div class="container">
    <h1>Add News</h1>
    <button>
      <img
        src="/media/icons/ic_filter_list_24px.svg"
        alt="Filter"
        title="click here to filter courses"
      />
    </button>
  </div>
</nav>
<div class="page">
  <div class="container">
    <aside class="main-side-bar">
      <div class="ico-to-side">
        <section></section>
        <section></section>
        <section></section>
      </div>
      <ul>
        <li>
          <a href="/a/analysis" target="_blank" class="analysis">analysis</a>
        </li>
        <li>
          <a href="/n/v/new/modify" class="add_news"
            >add news</a
          >
        </li>
        <li>
          <a href="/c/v/new/modify" target="_blank" class="add_courses"
            >add courses</a
          >
        </li>
        <li>
          <a href="/b/v/new/modify" target="_blank" class="add_books"
            >add books</a
          >
        </li>
        <li>
          <a href="/a/users" target="_blank" class="users">users</a>
        </li>
        <li>
          <a href="/a/orders" target="_blank" class="order">order</a>
        </li>
        <li>
          <a href="/a/log" target="_blank" class="logs">logs</a>
        </li>
        <li>
          <a href="/a/reports" target="_blank" class="report">reports</a>
        </li>
        <li>
          <a href="#" class="logout" target="_blank" class="logout">logout</a>
        </li>
      </ul>
    </aside>
    <div class="content">
      <form action="">
        <div class="box">
          <div class="data-input">
            <div>
              <label for="title">title</label>
              <input type="text" name="" id="title" />
            </div>
            <div>
              <label for="discription">discription</label>
              <input type="text" name="" id="discription" />
            </div>
            <div>
              <label for="subject">subject</label>
              <input type="text" name="" id="subject" />
            </div>
          </div>
          <button class="add-news" title="add-image">
            <img src="/media/icons/Icon awesome-plus.svg" alt="add-img" />
          </button>
        </div>
        <button class="puplish">
          <img src="/media/icons/Component50–3.svg" alt="" />
        </button>
      </form>
    </div>
  </div>
</div>
