<head>
  <link rel="stylesheet" href="/stylesheets/main/home.css" />
  <script defer src="/scripts/main/home.js"></script>
  <link rel="stylesheet" href="/public/stylesheets/plugins/footer.css" />
  <title>Home - GENX</title>
</head>
<div class="section1 discover sect">
  <div class="container" id="welcome">
    <h1 class="textDark">
      Discover new ways <br />
      of e-learning.
      <img src="/media/icons/Telescope 82.4x78.69.svg" alt="" />
    </h1>
    <p class="textDark">
      Start a new world of research and e-learning without more difficulties,
      <br />
      but features that make you the beneficiary in the field of online learning
    </p>
    <div class="start">
      <p class="textDark">Click below to start your journey with Genx</p>
      <button id="drop">
        <a href="#getStarted">
          <img
            src="/media/icons/Discover icon 60x60.svg"
            alt="Discover"
            title="click here to start your journey with Genx "
          />
        </a>
      </button>
    </div>
  </div>
</div>
<div class="section2 sect">
  <div class="container" id="getStarted">
    <div class="left">
      <h2 class="textDark">
        You can view <br />
        a large encyclopedia of books with <br />
        Genx .
      </h2>
      <div class="clickHere textDark">
        Discover Books Now <br />
        <a class="textDark" href="">click here</a>
      </div>

      <div class="join">
        <span class="textDark"> Join Genx </span>
        <a class="Signup textDark" href="/o/signup"
          ><img
            src="/media/icons/Signup icon 165x56.svg"
            alt="Signup icon"
            title="Signup Now"
        /></a>
        <span>
          Now <br />
          Already Have an account?</span
        >
        <a href="/o/login" class="login">
          <img
            src="/media/icons/Login icon 248x56.svg"
            alt="Login icon"
            title="Login Now"
          />
        </a>
      </div>
    </div>
    <div class="right">
      <img src="/media/icons/Tool 1.png" alt="Tool 1" title="GenX" />
    </div>
  </div>
</div>
<div class="section3 sect">
  <div class="container">
    <div class="left">
      <img src="/media/icons/Tool 2.png" alt="Tool 1" title="GenX" />
    </div>
    <div class="right">
      <h2 class="textDark">
        Hundreds of comprehensive courses <br />
        from true teaching experts.
      </h2>
      <div class="clickHere textDark">
        Discover course Now <br />
        <a class="textDark" href="/c/all">click here</a>
      </div>
    </div>
  </div>
</div>
<div class="About-Us sect" id="about">
  <div class="container">
    <img
      src="/media/icons/Logo in about section.png"
      alt="Logo"
      title="About Us"
    />
    <div class="content">
      <h2 class="textDark">About Us</h2>
      <p class="textDark">
        We are an institution dedicated to providing e-education services
        locally and globally, and the quality of education comes in the first
        place in terms of our priorities to provide all opportunities for
        students to obtain the knowledge they can as much as possible, and we
        are helped by a large staff who pays attention to the smallest details
        for an excellent explanation.
      </p>
    </div>
    <button
      id="top"
      style="
        place-self: end;
        background-color: transparent;
        border: transparent;
      "
    >
      <a href="#welcome">
        <img
          style="transform: rotate(180deg); margin-top: 30px; width: 60px"
          src="/media/icons/Discover icon 60x60.svg"
          alt="top"
          title="click here to go to the top of the page "
        />
      </a>
    </button>
  </div>
</div>
