<head>
    <link rel="stylesheet" href="/stylesheets/main/results.css">
</head>
<nav>
    <div class="container">
      <h1>Search Result</h1>

     <div class="result textDark"><%= query %></div>
      
     <button>
        <img
          src="/media/icons/Filter icon 24.78x16.52.svg"
          alt="Filter"
          title="click here to filter courses"
        />
      </button>
    </div>
  </nav>
  <div class="content">
    <div class="container">
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
      <a href="">
        <div class="images">
          <img src="" alt="" />
        </div>
        <h2>search result</h2>
        <p title="">course discription </p>
      </a>
     
    </div>
  </div>